doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='css design.css')
  script(defer='', src='JS roomeet.js')
.container_meet
  .header
    p#site_name  Roomeet
    nav.nav_bar
      ul
        li
          a.nav_link(href='http://localhost:3000/meet_roomate') Meet a roomate
        li
          a.nav_link(href='http://localhost:3000/my_profile') My profile
        li
          a.nav_link(href='http://localhost:3000/log_in') Sign out
        li
          img(src='../img/account-icon.png' alt='')
      ul
  .meet_page
    .column
      div
        img.profile_pic(src='../img/account-icon.png' alt='')
      ul
        li  Full name 
        li  Age 
        br
        li
          a(href='') more info
      ul
        li
          img.meet_button(src='../img/Checkmark-green-tick-isolated-on-transparent-background-PNG.png' alt='')
        li
          img.meet_button(src='../img/Dislike-icon-transparent-PNG.png' alt='')
    .column
      div
        img.profile_pic(src='../img/account-icon.png' alt='')
      ul
        li  Full name 
        li  Age 
        br
        li
          a(href='') more info
      ul
        li
          img.meet_button(src='../img/Checkmark-green-tick-isolated-on-transparent-background-PNG.png' alt='')
        li
          img.meet_button(src='../img/Dislike-icon-transparent-PNG.png' alt='')
    .column
      div
        img.profile_pic(src='../img/account-icon.png' alt='')
      ul
        li  Full name 
        li  Age 
        br
        li
          a(href='') more info
      ul
        li
          img.meet_button(src='../img/Checkmark-green-tick-isolated-on-transparent-background-PNG.png' alt='')
        li
          img.meet_button(src='../img/Dislike-icon-transparent-PNG.png' alt='')
